<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                                http://www.springframework.org/schema/security
                                http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" use-expressions="false">
        
        <custom-filter ref="captchaFilter" before="FORM_LOGIN_FILTER"/>

        <intercept-url pattern="/admin**" access="ROLE_USER,ROLE_ADMIN,ROLE_MULTI" />
        <intercept-url pattern="/agregar**" access="ROLE_ADMIN" />
        <intercept-url pattern="/delete**" access="ROLE_ADMIN" />
        <intercept-url pattern="/viewAdmin**" access="ROLE_USER,ROLE_ADMIN,ROLE_MULTI" />
        <intercept-url pattern="/Avance**" access="ROLE_USER,ROLE_ADMIN" />
        <intercept-url pattern="/MultiProcesos**" access="ROLE_MULTI,ROLE_ADMIN" />
        <intercept-url pattern="/register**" access="ROLE_ADMIN" />
        <intercept-url pattern="/welcome**" access="ROLE_USER,ROLE_ADMIN" />		
        <form-login
        
            login-page="/login" 
            
            default-target-url="/admin" 
            
            authentication-failure-url="/login?error" 
            
            /> 
                <logout logout-success-url="/?logout" />
                
 
        <csrf/>
        <access-denied-handler error-page="/Error"  />
        <anonymous/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
           
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="accessDeniedHandler" class="com.springmvc.security.filter.CustomAccessDeniedHandler">
    <beans:property name="accessDeniedUrl" value="/AdministracionDelGeoprocesamiento/admin" />
</beans:bean>
    <beans:bean id="captchaFilter" class="com.springmvc.security.filter.CaptchaFilter"/>
    <beans:bean id="customUserDetailsService" class="com.springmvc.security.filter.CustomUserDetailsService"/>
</beans:beans>